/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: "Inter", "Roboto", sans-serif;
  color: #333;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

label {
  font-size: 18px;
}



.read-the-docs {
  color: #888;
}


.statsShadow {
  box-shadow: 0px 50px 85px -18px #4f4f4f;
} */

body {
  margin: 0;
  padding: 0;
}
button {
  background-color: #76b1a6;
  transition: all 0.5s;
}
button:hover {
  background-color: #50b1a1;
  transform: rotateX(30deg);
}
button:hover {
  background-color: #3e8e7e;
  transform: rotateX(30deg);
}
