<<<<<<< HEAD
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
=======
body {
  font-family: 'Inter', 'Roboto', sans-serif;
  color: #333;
>>>>>>> dd0b5d0ff62a2c65340cce570967f54103e31543
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

label{
  font-size: 18px;
}

button{
  background-color: #76B1A6;
  transition: all .5s;
}

<<<<<<< HEAD
.read-the-docs {
  color: #888;
} */
=======
button:hover{
  background-color: #50b1a1;
  transform: rotateX(30deg);
}
>>>>>>> dd0b5d0ff62a2c65340cce570967f54103e31543
