body {
  font-family: 'Inter', 'Roboto', sans-serif;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

label{
  font-size: 18px;
}

button{
  background-color: #76B1A6;
  transition: all .5s;
}

button:hover{
  background-color: #50b1a1;
  transform: rotateX(30deg);
}