@import "tailwindcss";

/* Définition du thème personnalisé */
@theme {
  --default-font-family: "Poppins", sans-serif;
  --color-mygreen: #76b1a6;
  --default-font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --default-font-variation-settings: "opsz" 32;
  --color-bg-todo: #eef2f5;
  --breakpoint-xs: 30rem;
}

/* Importation de la police Poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Font/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../Font/poppins/Poppins-SemiBold.ttf") format("truetype");
}

/* Reset de base */

html,
body,
#root {
  height: 100vh;
  height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
  background-color: var(--color-bg-todo);
}

