@import "tailwindcss";
@theme {
  --default-font-family: "Geist Mono", sans-serif;

  --default-font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --default-font-variation-settings: "opsz" 32;
  --color-bg-todo: #eef2f5;
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../Font/GeistMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../Font/GeistMono-Medium.ttf") format("truetype");
}


