/* #root {
    max-width: 995px;
    margin: 4% auto;
    padding: 0;
    text-align: center;
    height: 390px;
  }
   

.navbar {
  width: 995px;
  justify-self: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
}

.navdiv {
  height: 45px;
  display: flex;
}

.nav {
  margin-left: 60px;
}

.div {
  width: 1100px;
  display: flex;
}

.divmin1 {
  width: max-content;
}

.divmin2 {
  margin-top: -2%;
}
.div1 {
  width: 494.43px;
  height: 256.23px;
  background-color: rgb(207, 42, 42);
  padding-top: 10%;
}

.div2 {
  width: 494.43px;
  height: 246.06px;
}
.div3 {
  width: 500.43px;
  height: 100.8;
  background-color: black;
}
.div4 {
  width: 500.43px;
  height: 123.49px;
  background-color: rgb(160, 73, 240);
  padding-top: 1%;
}

.size {
  font-size: small;
}

input:focus, select:focus, button:focus {
    
    border-color: #f63bda;
    background-color: #f3f17f;
    outline: none;
  }

 .btn {
  background-color: #ea3bf6;
  border-color: #ea3bf6;
}

.btndiv {
  display: flex;
}

.btn:hover {
  background-color: #ebde25;
}
.pres {
  padding-bottom: 1%;
} */
